body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 34px;
    color: #FFFFFF;
}

.title {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFFFFF;
}

.content {
    margin-top: 3em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 18px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 43px;
    color : #0000FF;
}

button.choose-file-button {
    width: 200px;
    height: 60px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 23px;
    color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 60px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 23px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
